/* check-list */

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  counter-reset: list-counter;
}

.list__item {
  width: 100%;
  height: fit-content;
  counter-increment: list-counter;
  position: relative;
  padding-left: 1.5rem;
}
.list__item::before {
  content: counter(list-counter);
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  left: -13px;
  top: 0;
  text-align: center;
  border-radius: 999px;
  background: var(--purple);
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .list {
    display: block;
  }
  .list__item:not(:last-child) {
    border-left: 2px solid var(--purple);
  }
  .list__item:last-child {
    border-left: 2px solid transparent;
  }
}
