:root {
  /* Main Colors */
  --bg-neutral: #f6f6f6;
  --bg-neutralHover: #f0f0f0;
  --bg-dark: #414246;
  --bg-black: #000000;
  --gray: #86888e;
  --navBG: rgba(255, 255, 255, 1);
  --headerBG: rgba(255, 255, 255, 0.75);
  --purple: #8884d8;
  --purpleHover: #9996d3;

  /* Red Green Gradient */
  --red-to-green-gradientFallback: rgb(244, 184, 184, 0.4);
  --red-to-green-gradient: linear-gradient(
    140deg,
    rgba(242, 122, 125, 0.3) 0%,
    rgba(247, 212, 134, 0.3) 23%,
    rgba(228, 226, 165, 0.3) 45%,
    rgba(197, 249, 215, 0.3) 100%
  );

  /* Blue Pink Gradient */
  --blue-to-pink-gradientFallback: rgb(244, 184, 184, 0.4);
  --blue-to-pink-gradient: linear-gradient(
    103deg,
    rgba(174, 209, 239, 0.4) 0%,
    rgba(242, 223, 193, 0.4) 45%,
    rgba(240, 185, 239, 0.4) 100%
  );

  /* Red Blue Gradient */
  --red-to-blue-gradientFallback: rgba(226, 83, 119, 1);
  --red-to-blue-gradient:
    rgba(226, 83, 119, 1) 0%, rgba(238, 185, 2, 1) 49%, rgba(98, 180, 255, 1) 100%;
}
