@import 'tailwindcss';

* {
  font-family: 'Wix Madefor Text', sans-serif;
}

/* Grid class */
.grid {
  display: grid;
  width: fit-content;
  max-width: 1020px;
  margin: 0 auto;
  gap: 8px;
  padding: 0 4px 80px;
  grid-template-columns: repeat(4, minmax(0, 249px));
}
@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 249px));
  }
}
@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 170px));
  }
}
